 
 .bgcolor {   /* body class */
	background: linear-gradient(to top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	padding: 10px;
 	overflow: hidden;
}
.universe{
	position: relative;
	width: 1330px;
	margin: auto;
	padding: 10px 40px;
}
canvas {
/* 	position: absolute;
	top: 0;
	left: 0 ; */
	border: 5px solid #1C2A48;
	border-radius: 10%;
	/* border-bottom-left-radius: 5%; */
	/* border-bottom-right-radius: 0%; */
	float: left;
	margin-left: 10px;
	box-shadow: 3px 3px 10px 5px #000;
}
.header{
	height: 90px;
	text-align: center;
	line-height: 70px;
	font-size: 45px;
	font-family: Frijole;
	font-weight: 500;
	color: #1C2A48;
}
.header img{
	height: 80%;
}
#score {
	font-family: "Bungee Inline";
	font-size: 20px;
	color: black;
	font-weight: 100;
	position: absolute;
	margin-top: 105px;
	margin-left: 5px;
	/* text-shadow: 2px 2px white; */
}

#displayLevel{
	position: absolute;
	margin-left: 580px;
	margin-top: 105px;
	background-color: black;
	font-family: "Bungee Inline";
	font-size: 15px;
	color: yellow;
	padding: 3px 6px;
	border-radius: 20%;
	border: 2px solid yellow;
}

.description {
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	width: 38%;
	border: 5px solid #1C2A48;
	border-radius: 10%;
	float: right;
	margin-left: 40px;
	box-shadow: 3px 3px 10px 5px #000;
	font-family: "Bungee Inline";
	color: black;
	font-size: 24px;
	font-weight: 500;
	padding: 20px;
	height: 320px;
}

.level10{
	height: 120px;
	line-height: 120px;
	font-size: 22px
}

.e-key{
	/* border: 1px solid black; */
	height: 80px;
	background-image: url("eKey.png");
	background-size: 80%;
	background-repeat: no-repeat;
}
.f-key{
	height: 80px;
	background-image: url("fKey.png");
	background-size: 80%;
	background-repeat: no-repeat;
}
.key-description{
	text-align: left;
	height: 80px;
	line-height: 55px;
}
.key-description2{
	text-align: left;
	height: 80px;
	line-height: 28px;
}
.boss-font{
	font-size: 13px;
}
.arrow-keys{
	/* border: 1px solid black; */
	height: 160px;
	background-image: url("arrows.png");
	background-size: 95%;
	background-repeat: no-repeat;
}

.game-description{
	border-bottom: dotted 2px black;
	font-family: Monda;
	font-size: 20px;
	text-align: left;
}

.game-canvas{margin-left: 10px;}
.color-e{color: #BF360C;}
.color-r{color: #FFF59D;}
.color-h{color: red;
	text-decoration: underline;}
.color-w{color:white;}
.right-bottom{
	clear: right;
	margin-left: 30px;
	margin-top: 30px;
	float: right;
	text-align: center;
}
#newPlayerDiv input{
	width: 300px;
	margin-right: 20px;
	height: 60px;
	box-shadow: 3px 3px 10px 5px #000;
	float: left;
	font-family: "Amatic SC";
	font-size: 30px;
	padding-left: 10px;
}
#newPlayerDiv img{
	margin-right: 30px;
	/* border: 4px solid blue; */
	/* border-radius: ; */
}
#newPlayerDiv button{
	width: 300px;
	height: 100px;
	box-shadow: 3px 3px 10px 5px #000;
background: linear-gradient(to bottom, rgba(21,97,75,1) 0%, rgba(92,255,10,1) 100%);
	font-family: "Bungee Inline";
	font-size: 30px;
	margin-right: 20px;
	margin-top: 15px;
}
#newPlayerDiv button:hover{
background: linear-gradient(to bottom, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	width: 300px;
	height: 98px;
}
#timer{
	margin-top: 20px;
	font-family: "Bungee Inline";
	font-size: 35px;
	color: blue;
	font-weight: 100;
	position: absolute;
	left: 950px;
	top: 435px;
	text-align: center;
}
.name-shark{
	clear: both;
	margin-top: 20px;
	font-family: "Amatic SC";
	font-size: 40px;
	font-weight: bold;
	/* text-decoration: underline; */
}

.mono{
	font-family: Monoton;
	font-size: 55px;
	font-weight: 100;
	color: red;
}

.dmg-color{
	color:  black;
}

.fishCount{
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	width: 100%;
	border: 5px solid #1C2A48;
	border-radius: 5%;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	box-shadow: 3px 3px 10px 5px #000;
	font-family: "Bungee Inline";
	color: black;
	font-size: 24px;
	font-weight: 500;
	height: 80px;
	padding: 10px;
}

.fish-box{
/* 	border: black 1px solid;
	border-radius: 50%; */
	display: inline-block;
	margin-top: -1px;	
	height: 55px;
	line-height: 59px; padding-left: -5px;
	/* margin-left: 10px; */
	font-size: 44px;
	/* width: 100%; */

}
 .width100{
 	width: 100%;
 }

.fish-pic{
	background-repeat: no-repeat;
	text-align: right;
	font-size: 20px;
	border-left: 3px dashed blue;
	margin-top: -1px;	
	height: 55px;
	line-height: 65px; padding-left: -5px;
	/* width: 100%; */
}
.nemo-pic{background-image: url("nemo2.png");}
.dory-pic{background-image: url("dory1.png");}
.stripe-pic{background-image: url("stripe1.png");}
.jellyfish-pic{background-image: url("jellyfish1.png");}
.puff-pic{background-image: url("puffer1.png");}
.turtle-pic{background-image: url("turtle1.png");}

.catch{
	/* text-align: center; */
	line-height: 55px;
	color: black;
	font-weight: 900;
	font-size: 28px;
	font-family: "Bungee Inline";
	text-shadow: 2px 2px yellow;
}

#health-bar-bg{
	border: 3px solid black;
	height: 50px;
	background-color: red;
	padding: 0;
	
}
#healthBar{
	border: 1px solid yellow;
	margin: 0;
	height: 44px;
	line-height: 50px;
	padding-left: 10px;
}

#shark-health-bg{
	position: absolute;
	margin-top: 530px;
	margin-left: 30px;
	height: 40px;
	padding: 0;
	width: 500px;
}

.sharkHealthPic{
	background-image: url('shark.png');
	width: 40px;
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	border-radius: 50%;
	border: 3px solid white;
}








#canvasDescription1{
	text-align: center;
	background-color: #9575cd;
	opacity: 0.9;
	width: 500px;
	height: 310px;
	border: 5px solid #1C2A48;
	border-radius: 45%;
	position: absolute;
	margin-top: 180px;
	margin-left: 120px;
	box-shadow: 3px 3px 10px 5px #000;
	font-family: "Bubblegum Sans";
	color: black;
	font-size: 24px;
	font-weight: 100;
	padding: 10px;
	padding-top: 30px;
}

#canvasDescription2{
	text-align: center;
	background-color: #ef5350 ;
	width: 500px;
	opacity: 0.8;
	height: 330px;
	border: 5px solid #1C2A48;
	border-radius: 45%;
	position: absolute;
	margin-top: 180px;
	margin-left: 120px;
	box-shadow: 3px 3px 10px 5px #000;
	font-family: "Bubblegum Sans";
	color: black;
	font-size: 24px;
	font-weight: 100;
	padding: 10px;
	padding-top: 30px;
}
.keyInCanvasDescription{
	color: yellow;
	text-decoration: underline;
}
